<div class="container">
  <form [formGroup]="passwordForm">
    <label for="username" class="form-label">Username</label>
    <input
      formControlName="username"
      class="form-control"
      id="username"
      autocomplete="off"
    />

    <label for="password" class="form-label">Password</label> <br />
    <input
      formControlName="password"
      class="form-control"
      id="password"
      type="password"
      autocomplete="off"
      [class.is-valid]="
        passwordForm.controls.password.value !== '' &&
        !passwordForm.controls.password.invalid
      "
      [class.is-invalid]="passwordForm.controls.password.invalid"
    />
    <div class="error-text" *ngIf="passwordForm.controls.password.invalid">
      <p *ngIf="passwordForm.controls.password.hasError('required')">
        Password is required
      </p>
      <p *ngIf="passwordForm.controls.password.hasError('username')">
        Password should not contain username
      </p>
      <p *ngIf="passwordForm.controls.password.hasError('pattern')">
        Password must follow given pattern
      </p>
    </div>

    <label for="password" class="form-label">Confirm Password</label> <br />
    <input
      formControlName="confirmPassword"
      class="form-control"
      id="password"
      type="password"
      autocomplete="off"
      [class.is-valid]="
        passwordForm.controls.confirmPassword.value !== '' &&
        !passwordForm.controls.confirmPassword.invalid
      "
      [class.is-invalid]="passwordForm.controls.confirmPassword.invalid"
    />
    <div
      class="error-text"
      *ngIf="passwordForm.controls.confirmPassword.invalid"
    >
      <p *ngIf="passwordForm.controls.confirmPassword.hasError('noMatch')">
        Confirm Password must match with Password
      </p>
    </div>
  </form>
</div>

<div class="container">
  <h4>Validations</h4>
  <ul>
    <li *ngIf="validations.length === 0">No Validations</li>
    <li *ngFor="let validation of validations">
      {{ validation }}
    </li>
  </ul>

  <h4>Regular Expression</h4>
  <p class="code">{{ regEx }}</p>
</div>
